<div class="root_view">
  <div class="advice_view center_column">
    <h1>Advice</h1>
    <div class="advice_view-links">
      <a href="https://www.nsca.com/education/articles/">National Strength and Conditioning Assoc.</a><br />
      <a href="https://www.bodybuilding.com/category/training">Bodybuilding.com</a><br />
      <a href="https://www.womenshealthmag.com/">Women's Health Magazine</a><br />
      <a href="https://www.menshealth.com/">Men's Health Magazine</a><br />
      <a href="https://www.cooperinstitute.org/research/">Cooper Institute</a><br />
    </div>
  </div>
</div>