<%= form_with model: [ @workout, @workout.exercises.build] do |form|%>
  <div class="form_field">
    <div class="form_label">
      <%= form.label :exercise_name %>
    </div>
    <br />
    <%= form.text_field :exercise_name %>
  </div>

  <p>
    <%= form.submit %>
  </p>
<% end %>